.__jd_main-workerWage {
  &--form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &--detail {
    &__form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }
}
