.__jd_main-auth {
  display: flex;
  flex-direction: row;

  &--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 50rem;
    height: 100vh;
    background-image: linear-gradient(
      360deg,
      #2f3845 0%,
      rgba(52, 65, 86, 0.54) 101.07%
    );
    background-size: cover;
    background-repeat: no-repeat;

    &-logo {
      margin-top: -10rem;
      height: 30rem;
    }

    &-title {
      font-weight: bold;
      font-size: 4rem;
      line-height: 4.5rem;
      text-align: center;
      letter-spacing: 0.1rem;

      color: #ffffff;
    }

    &-description {
      font-size: 2rem;
      line-height: 3.3rem;
      text-align: center;
      color: #e0d9d9;
      margin: 1rem 0;
    }

    &-pan {
      font-size: 1.75rem;
      color: #e0d9d9;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10rem;

    &__logo {
      margin: 0 0 5rem 0;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
