// Backgrund Colors
$background-primary: #222537;

// Text-colors
$color-primary: #222537;
$color-secondary: #ad00ff;
$color-gold: #e2b754;
$color-placeholder: #9ca5ac;
$color-link: #1d58ef;

// Gradients

$gradient-primary: linear-gradient(
  90deg,
  #f2cd6c 0%,
  #f2cd6c 1.7%,
  #f2cd6c 41.7%,
  #e2b754 77.6%,
  #e2b754 100%
);

// Sizes

$sidebar-width: 30rem;
