.__jd {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  &_main {
    max-width: calc(100vw - #{$sidebar-width});
    width: 100%;
    padding: 3rem;
    margin-left: $sidebar-width;
    transition: 0.5s ease-in-out margin-left, 0.5s ease-in-out max-width;
  }

  &_error {
    &-text {
      color: red;
    }
  }
}

.error {
  color: red;
}

.ant-modal {
  height: fit-content !important;
  width: fit-content !important;
}

.ant-table-content {
  border: 1px $color-primary solid;
  border-bottom: 0 $color-primary solid;
}
